  body {
    background-color: #EEE3CB;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    width: 5%;
  }

  h1 {
    color: #E14D2A;
  }

  h2 {
    color: #E14D2A;
  }

  h3 {
    color: #E14D2A;
  }

  thead {
    color: #E14D2A;
  }
